<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Thing</title>
    <!-- Add any CSS or JavaScript files you'd like to include here -->
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'links:home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'links:profile' user.username %}">{{ user.username }}</a> |
                <a href="{% url 'links:submit_link' %}">Share a link</a> |
                <a href="{% url 'links:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'links:signup' %}">Sign up</a> |
                <a href="{% url 'links:login' %}">Log in</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
